In [8]:
import pandas as pd
from sqlalchemy import (create_engine, text)

In [9]:
##CONFIG DB
DB_OP = "postgresql://postgres:technofutur2025@localhost:5432/legothec"
DB_WAREHOUSE = "postgresql://postgres:technofutur2025@localhost:5432/legothec_warehouse"
engine_op = create_engine(DB_OP)
engine_warehouse = create_engine(DB_WAREHOUSE)

In [10]:
with engine_op.connect() as con_op:
    df_sales = pd.read_sql_table(table_name="set_info_price", con=con_op)
    
df_sales.iloc[68:72]

,infopriceid,bricksetid,section,condition,qty_sold,total_qty,total_sellers,min_price,max_price,avg_price,qty_avg_price,scrape_time
68,241,10030-1,Last 6 Months Sales,New,4,4,0,852.66,1617.38,1121.36,1121.36,2025-10-11 14:28:16.563095
69,242,10030-1,Last 6 Months Sales,Used,6,6,0,315.19,449.99,367.44,367.44,2025-10-11 14:28:16.563095
70,22762,31168-1,Last 6 Months Sales,Used,0,0,0,NaN,NaN,NaN,NaN,2025-10-14 18:04:39.002560
71,243,10030-1,Current Items for Sale,New,0,15,15,864.45,2499.00,1420.48,1420.48,2025-10-11 14:28:16.563095

In [11]:
df_sales = df_sales.pivot(index=['bricksetid', 'condition'], columns='section', values=['min_price', 'max_price', 'avg_price', 'total_qty', 'qty_sold', 'qty_avg_price']).reset_index()

In [12]:
df_sales.head()

        bricksetid condition              min_price                      \
section                      Current Items for Sale Last 6 Months Sales
0          10030-1       New                 864.45              852.66
1          10030-1      Used                 345.78              315.19
2          10143-1       New                1728.90              263.49
3          10143-1      Used                 430.59              586.02
4          10144-1       New                 172.03              262.92

                     max_price                                  avg_price  \
section Current Items for Sale Last 6 Months Sales Current Items for Sale
0                      2499.00             1617.38                1420.48
1                      1200.00              449.99                 736.93
2                      3457.80             2432.79                2524.52
3                      1556.00             1022.66                 989.77
4                      1300.28              370.00                 477.13

                                         total_qty                      \
section Last 6 Months Sales Current Items for Sale Last 6 Months Sales
0                   1121.36                   15.0                 4.0
1                    367.44                   39.0                 6.0
2                    945.34                    6.0                10.0
3                    786.94                    6.0                17.0
4                    325.07                   44.0                 5.0

                      qty_sold                              qty_avg_price  \
section Current Items for Sale Last 6 Months Sales Current Items for Sale
0                          0.0                 4.0                1420.48
1                          0.0                 6.0                 736.93
2                          0.0                10.0                2524.52
3                          0.0                17.0                 989.77
4                          0.0                 5.0                 493.94


section Last 6 Months Sales
0                   1121.36
1                    367.44
2                    945.34
3                    786.94
4                    325.07

In [13]:
df_sales.columns = ['fk_set_id', 'condition', 'current_min_price', 'last_6_month_min_price', 'current_max_price', 'last_6_month_max_price', 'current_avg_price', 'last_6_month_avg_price', 'current_total_qty', 'last_6_month_total_qty', 'current_qty_sold', 'last_6_month_qty_sold', 'current_qty_avg_price', 'last_6_month_qty_avg_price']
df_sales.drop(columns=['current_qty_sold'], inplace=True)


df_sales['year'] = 2015
df_sales.head()

,fk_set_id,condition,current_min_price,last_6_month_min_price,current_max_price,last_6_month_max_price,current_avg_price,last_6_month_avg_price,current_total_qty,last_6_month_total_qty,last_6_month_qty_sold,current_qty_avg_price,last_6_month_qty_avg_price,year
0,10030-1,New,864.45,852.66,2499.00,1617.38,1420.48,1121.36,15.0,4.0,4.0,1420.48,1121.36,2015
1,10030-1,Used,345.78,315.19,1200.00,449.99,736.93,367.44,39.0,6.0,6.0,736.93,367.44,2015
2,10143-1,New,1728.90,263.49,3457.80,2432.79,2524.52,945.34,6.0,10.0,10.0,2524.52,945.34,2015
3,10143-1,Used,430.59,586.02,1556.00,1022.66,989.77,786.94,6.0,17.0,17.0,989.77,786.94,2015
4,10144-1,New,172.03,262.92,1300.28,370.00,477.13,325.07,44.0,5.0,5.0,493.94,325.07,2015

In [ ]:
#get warehouse fact_sales
f_sales = pd.read_sql_table(table_name="f_sales", con=engine_warehouse)

#be sure everything is in the right type
numeric_cols = [
    "last_6_month_qty_sold",
    "current_total_qty",
    "last_6_month_total_qty",
    "current_min_price",
    "current_max_price",
    "last_6_month_min_price",
    "last_6_month_max_price",
    "current_avg_price",
    "last_6_month_avg_price",
    "current_qty_avg_price",
    "last_6_month_qty_avg_price"
]

for col in numeric_cols:
    if col in df_sales.columns:
        df_sales[col] = pd.to_numeric(df_sales[col], errors="coerce")
    if col in f_sales.columns:
        f_sales[col] = pd.to_numeric(f_sales[col], errors="coerce")


#compare data to avoid duplicates
new_f_sales = pd.merge(df_sales, f_sales, on=df_sales.columns.tolist(), how="outer", indicator=True).query("_merge == 'left_only'").drop(columns=["_merge", 'pk_id'])

#insert
new_f_sales.to_sql(name="f_sales", con=engine_warehouse, if_exists="append", index=False)

370

: