In [ ]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, text

from pycaret.regression import *
from pycaret.time_series import TSForecastingExperiment

In [2]:
##CONFIG DB
WAREHOUSE = "postgresql://postgres:technofutur2025@localhost:5432/legothec_warehouse"
engine = create_engine(WAREHOUSE)

query = text("""
             SELECT * FROM d_legoset
             """)

with engine.connect() as con:
    f_sales = pd.read_sql_table(table_name="f_sales", con=con)
    d_legoset = pd.read_sql(query, con=con)
    
data = d_legoset[["minifigs", "retail_price", "pieces", "launch_year", "theme_group"]].copy()

data.isna().sum()

data.dropna(inplace=True)

data.shape

(5471, 5)

In [24]:
df = data.copy()
df = df[df["pieces"] > 0].reset_index(drop=True)

# cible plus stable
df["price_per_piece"] = df["retail_price"] / df["pieces"]

# cat√©gories de taille
df["size_category"] = pd.cut(
    df["pieces"],
    bins=[0, 500, 1000, 2000, 3000, df["pieces"].max()],
    labels=["<500", "500-1000", "1000-2000", "2000-3000", "3000+"],
    include_lowest=True
)

In [27]:

models_by_group = {}
ppp_bounds_by_group = {}  # pour couper les d√©lires (clips)

group_col = "theme_group"   # change en "theme" si tu pr√©f√®res par th√®me fin
min_rows = 80               # seuil mini pour entra√Æner un mod√®le par groupe

for g, gdf in df.groupby(group_col):
    if len(gdf) < min_rows:
        continue  # pas assez de donn√©es, on sautera ce groupe

    reg_setup = setup(
        data=gdf,
        target="price_per_piece",
        session_id=42,
        categorical_features=["size_category"],
        numeric_features=["pieces", "minifigs", "launch_year"],
        verbose=False,
    )
    mdl = compare_models()                 # ExtraTrees/RandomForest sortent souvent en t√™te
    models_by_group[g] = finalize_model(mdl)

    # bornes robustes (pour √©viter les PPP d√©lirants √† la pr√©diction)
    low = gdf["price_per_piece"].quantile(0.02)
    high = gdf["price_per_piece"].quantile(0.98)
    ppp_bounds_by_group[g] = (float(low), float(high))

# Un mod√®le global (fallback si pas assez de donn√©es dans un groupe)
reg_setup_global = setup(
    data=df,
    target="price_per_piece",
    session_id=43,
    categorical_features=["theme_group", "size_category"],
    numeric_features=["pieces", "minifigs", "launch_year"],
    verbose=False,
)
global_model = finalize_model(compare_models())
global_bounds = (float(df["price_per_piece"].quantile(0.02)),
                 float(df["price_per_piece"].quantile(0.98)))

In [32]:

def build_time_factor_by_group(fh=10):
    factors = {}
    # global
    dfg = (df.groupby("launch_year")["price_per_piece"].mean()
             .reset_index().rename(columns={"launch_year":"date","price_per_piece":"y"}))
    dfg["date"] = pd.to_datetime(dfg["date"], format="%Y")

    expg = TSForecastingExperiment()
    expg.setup(data=dfg, target="y", session_id=7, fh=fh, fold=2, numeric_imputation_target="linear")
    bestg = expg.compare_models(turbo=True)
    predg = expg.predict_model(bestg, fh=fh)
    factors["_GLOBAL_"] = float(predg["y_pred"].mean() / dfg["y"].iloc[-1])

    # par groupe
    for g, gdf in df.groupby(group_col):
        dfx = (gdf.groupby("launch_year")["price_per_piece"].mean()
                  .reset_index().rename(columns={"launch_year":"date","price_per_piece":"y"}))
        if len(dfx) < 6:   # pas assez d'ann√©es
            continue
        dfx["date"] = pd.to_datetime(dfx["date"], format="%Y")

        exp = TSForecastingExperiment()
        exp.setup(data=dfx, target="y", session_id=8, fh=fh, fold=1, numeric_imputation_target="linear")
        best = exp.compare_models(turbo=True)
        pred = exp.predict_model(best, fh=fh)
        factors[g] = float(pred["y_pred"].mean() / dfx["y"].iloc[-1])

    return factors

# calcule les facteurs 5 et 10 ans
time_factor_5 = build_time_factor_by_group(fh=5)
#time_factor_10 = build_time_factor_by_group(fh=10)

In [35]:
def predict_future_price(pieces, minifigs, theme_group, years_ahead=10, launch_year=2025):
    # choisir le bon mod√®le
    mdl = models_by_group.get(theme_group, global_model)
    low, high = ppp_bounds_by_group.get(theme_group, global_bounds)

    # features d'entr√©e
    size_cat = pd.cut(
        [pieces],
        bins=[0, 500, 1000, 2000, 3000, df["pieces"].max()],
        labels=["<500", "500-1000", "1000-2000", "2000-3000", "3000+"],
        include_lowest=True
    )[0]

    x = pd.DataFrame([{
        "pieces": pieces,
        "minifigs": minifigs,
        "launch_year": launch_year,
        "size_category": size_cat,
        # IMPORTANT : si ton mod√®le global a vu theme_group, on l'inclut aussi
        "theme_group": theme_group
    }])
    
    x["retail_price"] = np.nan

    # pr√©dire le prix/pp
    ppp = predict_model(mdl, data=x)["prediction_label"].iloc[0]
    ppp = float(np.clip(ppp, low, high))  # coupe les valeurs farfelues

    price_today = ppp * pieces

    # facteur temporel
    if years_ahead <= 0:
        return round(price_today, 2)

    factors_map = {5: time_factor_5,}
    tf = factors_map.get(years_ahead)  # fallback 10 ans
    factor = tf.get(theme_group, tf.get("_GLOBAL_", 1.0))

    return round(price_today * factor, 2)

In [38]:
print("Licensed, 421 pcs, 0 figs ‚Üí 5 ans :",
      predict_future_price(421, 0, "Licensed", years_ahead=5), "‚Ç¨")

Licensed, 421 pcs, 0 figs ‚Üí 5 ans : 25.89 ‚Ç¨