In [1]:
import pandas as pd
from sqlalchemy import create_engine, Table, MetaData, text
from sqlalchemy.dialects.postgresql import insert

In [2]:
df = pd.read_csv('bricklink_summary_history.csv')

#rename columns
df.columns = ['bricksetid', 'section', 'condition', 'qty_sold', 'total_qty', 'total_sellers', 'min_price', 'avg_price', 'qty_avg_price', 'max_price', 'scrape_time']

for c in ['qty_sold', 'total_sellers']:
    df[c] = pd.to_numeric(df[c], errors="coerce").fillna(0)
df.head()

,bricksetid,section,condition,qty_sold,total_qty,total_sellers,min_price,avg_price,qty_avg_price,max_price,scrape_time
0,75313-1,Last 6 Months Sales,New,128.0,135,0.0,386.70,727.59,722.38,1054.23,2025-10-11T12:56:37.596358
1,75313-1,Last 6 Months Sales,Used,23.0,23,0.0,455.09,644.82,644.82,807.50,2025-10-11T12:56:37.596358
2,75313-1,Current Items for Sale,New,0.0,189,126.0,700.00,1121.81,1108.25,3399.99,2025-10-11T12:56:37.596358
3,75313-1,Current Items for Sale,Used,0.0,16,16.0,599.00,768.50,768.50,1080.56,2025-10-11T12:56:37.596358
4,10307-1,Last 6 Months Sales,New,6.0,8,0.0,268.89,405.39,371.26,595.00,2025-10-11T12:58:14.300852

In [3]:
DB_URL = "postgresql://postgres:technofutur2025@localhost:5432/legothec"
engine = create_engine(DB_URL)

In [4]:
metadata = MetaData()
info_table = Table('set_info_price', metadata, autoload_with=engine)

with engine.begin() as conn:
    for _, row in df.iterrows():
        stmt = insert(info_table).values(
            bricksetid=row['bricksetid'],
            section=row['section'],
            
            condition=row['condition'],
            qty_sold=row['qty_sold'],
            total_qty=row['total_qty'],
            total_sellers=row['total_sellers'],
            min_price=row['min_price'],
            avg_price=row['avg_price'],
            qty_avg_price=row['qty_avg_price'],
            max_price=row['max_price'],
            scrape_time=row['scrape_time']
        ).on_conflict_do_nothing(
            index_elements=['bricksetid', "section", 'condition', 'scrape_time']
        )
        conn.execute(stmt)
        
print('Inserted')

Inserted

In [5]:
#update legoset
set_ids = df['bricksetid'].unique().tolist()
query = text("""
UPDATE legoset
SET fetch_bricklink = TRUE
WHERE bricksetid IN :set_ids
""")

with engine.begin() as conn:
    conn.execute(query, {"set_ids": tuple(set_ids)})
    
print(f"{len(set_ids)} sets marqués comme scrappés.")

2103 sets marqués comme scrappés.